.contact{
    display: flex;
    flex-direction: column;
}
.container{
    display: grid;
    gap: 2rem;
    grid-template-columns:  1fr 1fr  1fr 1fr  1fr ;
}
i{
    color: tomato;
    font-size: 2rem;
}
.card{
    display: grid;
    gap: 2rem;
    grid-template-columns:  1fr 1fr  1fr 1fr ;
    justify-items: center;
 
}
.item{
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 250px;
    box-shadow: white;
    border: 2px solid rgb(11, 47, 11);
    border-radius: 18px;
    padding: 8px;
}

.card
 i {
   color: green;
   font-size: 3rem;
   margin-left: auto;
   margin-right: auto;
}